[submodule "modules/lightbot"]
	path = modules/lightbot
	url = git@github.com:cdpoffline/lightbot.git
[submodule "modules/blockly-games"]
	path = modules/blockly-games
	url = git@github.com:cdpoffline/blockly-games.git
[submodule "modules/starthardware"]
	path = modules/starthardware
	url = git@github.com:cdpoffline/starthardware.git
[submodule "modules/opentechschool-python-beginners"]
	path = modules/opentechschool-python-beginners
	url = git@github.com:cdpoffline/opentechschool-python-beginners.git
[submodule "modules/opentechschool-javascript-beginners"]
	path = modules/opentechschool-javascript-beginners
	url = git@github.com:cdpoffline/opentechschool-javascript-beginners.git
[submodule "modules/editors"]
	path = modules/editors
	url = git@github.com:cdpoffline/editors.git
[submodule "modules/scratch"]
	path = modules/scratch
	url = git@github.com:cdpoffline/scratch.git
[submodule "modules/http-server"]
	path = modules/http-server
	url = git@github.com:cdpoffline/http-server.git
