[submodule "modules/lightbot"]
	path = modules/lightbot
	url = https://github.com/cdpoffline/lightbot.git
[submodule "modules/blockly-games"]
	path = modules/blockly-games
	url = https://github.com/cdpoffline/blockly-games.git
[submodule "modules/starthardware"]
	path = modules/starthardware
	url = https://github.com/cdpoffline/starthardware.git
[submodule "modules/opentechschool-python-beginners"]
	path = modules/opentechschool-python-beginners
	url = https://github.com/cdpoffline/opentechschool-python-beginners.git
[submodule "modules/opentechschool-javascript-beginners"]
	path = modules/opentechschool-javascript-beginners
	url = https://github.com/cdpoffline/opentechschool-javascript-beginners.git
[submodule "modules/editors"]
	path = modules/editors
	url = https://github.com/cdpoffline/editors.git
[submodule "modules/scratch"]
	path = modules/scratch
	url = https://github.com/cdpoffline/scratch.git
[submodule "modules/http-server"]
	path = modules/http-server
	url = https://github.com/cdpoffline/http-server.git
[submodule "modules/overview"]
	path = modules/overview
	url = https://github.com/cdpoffline/overview.git
[submodule "modules/codecombat"]
	path = modules/codecombat
	url = https://github.com/cdpoffline/codecombat.git
[submodule "modules/announce"]
	path = modules/announce
	url = https://github.com/cdpoffline/announce.git
[submodule "modules/files"]
	path = modules/files
	url = https://github.com/cdpoffline/files.git
[submodule "modules/appinventor"]
	path = modules/appinventor
	url = https://github.com/cdpoffline/appinventor.git
[submodule "modules/startup"]
	path = modules/startup
	url = https://github.com/cdpoffline/startup.git
[submodule "modules/jupyter-server"]
	path = modules/jupyter-server
	url = https://github.com/cdpoffline/jupyter-server.git
[submodule "modules/snap"]
	path = modules/snap
	url = https://github.com/cdpoffline/snap.git
